/*By Ocean
Edited on 6/1/17*/

/*NAV BAR*/
div.fixed-to-top {
		background-color: #8f0222;
		position: relative;
		top: 0px;
		right: 0px;
		left: 0px;
	}	

	#heading-title {
		color: white;
		padding-bottom: 10px;
		display: inline-block;
		clear: both;
		position: relative;
		top: 2px;
		margin-left: -17px;
	}



	.fixed-bar-links {
		float: right;
		display: inline-block;
		clear: both;
	}

	.bar-link {
		float: right;
		display: inline-block;
		text-decoration: none;
		padding-top: 20px;
		padding: 30px;
	}

	a {
		color: white;
		text-decoration: none;
		display: inline-block;
	}
	a:hover {
		color: white;
		text-decoration: none;
	}

	.sub-link {
		color: #cccccc !important;
		text-decoration: none;
		list-style-type: none;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}

	.sub-link-right {
		color: #cccccc !important;
		text-decoration: none;
		list-style-type: none;
		float: right;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}

	.sub-bar-link:hover {
		color: #7ABDE3;
	}

	.sub-bar-link {
		color: black;
		display: inline;
	}

	.sub-bar-link-right:hover {
		color: #7ABDE3;
		display: inline;
	}

	.sub-bar-link-right {
		color: black;
	}

	.sub-links {
		margin-left: 30px;
		padding-bottom: 20px;
		margin-bottom: -5px;
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
	}

	.sub-links-middle {
		margin-right: 50px;
		margin-top: -22px;
		list-style-type: none;
		margin-bottom: -5px;
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
	}

	.sub-links-right {
		margin-right: -130px;
		margin-top: -22px;
		float: right;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		font-size: 15px;
	}

	.link-right {
		float: right;
		padding-right: 10px;
		padding-left: 10px;
	}

	div.sub-menu-bar {
		background-color: #F6F2EF;
		position: relative;
		margin-left: -200px;
		margin-top: -20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
/*NAV BAR*/


/*SLIDERS*/

#sliders_section{
	margin-top: 20px;
}

	#slider {
		height: 470px;
		width: 570px;
		overflow: hidden;
	}

	#slider .slides {
		display: block-inline;
		width: 1710px;
		height: 470px;
		margin: 0px;
		padding: 0px;
	}

	#slider .slide {
		float: left;
		list-style-type: none;
		width: 570px;
		height: 470px;
	}

	/*slider2*/
	#slider2 {
		height: 235px;
		width: 540px;
		overflow: hidden;
	}

	#slider2 .slides2 {
		display: block;
		width: 1620px;
		height: 235px;
		margin: 0px;
		padding: 0px;
	}

	#slider2 .slide2 {
		float: left;
		list-style-type: none;
		width: 540px;
		height: 235px;
	}

	/*slider3*/
	#slider3 {
		margin-top: 20px;
		height: 215px;
		width: 200px;
		overflow: hidden;
	}

	#slider3 .slides3 {
		display: block;
		width: 600px;
		height: 215px;
		margin: 0px;
		padding: 0px;
	}

	#slider3 .slide3 {
		float: left;
		list-style-type: none;
		width: 200px;
		height: 215px;
	}

	/*slider4*/
	#slider4 {
		float: right;
		margin-top: 20px;
		margin-left: 20px;
		height: 215px;
		width: 320px;
		overflow: hidden;
	}

	#slider4 .slides4 {
		display: inline;
		width: 960px;
		height: 215px;
		margin: 0px;
		padding: 0px;
	}

	#slider4 .slide4 {
		float: right;
		list-style-type: none;
		width: 320px;
		height: 215px;
	}

	.group {
		display: flex;
	}

	#next2 {
		position: absolute;
		color:black;
		top: 100px;
		z-index: 20;
		right: 15px;
	}

	#prev2 {
	position: absolute;
	left: 220px;
	top: 100px;
	color:black;
	z-index: 20;
}

	#navPrev {
		background-image: url("left.png");
	}

	#navNext {
		background-image: url("right.png");
	}
/*SLIDERS*/

#circle {
	font-size: 115px;
	color: #7AC141;
	margin: 18px;
	padding: 15px;
	text-align:center;
	position: relative;
	text-align: center;
}

#circle:hover {
	border-style: solid;
	border-color: blue;
	border-radius: 70px;
	padding: 5px;
}


/*NewsBox*/
#newsBox1{
	border: solid 1px;
	border-color: gray;
	float: left;
}

#newsBox2{
	margin-top: 15px;
	border: solid 1px;
	border-color: gray;
	float: left;
}

 #rhiannaTxt {
 	float: right;
 	padding: 15px;
 }

 .events_list li {
 	list-style-type: none;
 	top: 35px;
 }


 #event_float_left{
 	background-color: #C1D9F0;
 	color: #9E1B2A;
 	height: 100px;
 	width: 80px;
 	border-radius: 10px 0px 0px 10px;
 	text-align: center;
 	bottom: 25px;
 }


 #event_float_right{
 	float: right;
 	background-color: #EDF2F8;
 	border-radius: 0px 10px 10px 0px;
 	height: 100px;
 	width: 435px;
 	text-align: center;
 	color: black;
 }

 #event_float_right:hover {
 	background-color: #C1D9F0;
 }

 #events_text_index{
 	font-size: 25px;
 	margin-top: 15px;
 }

 #events_month{
 	font-size: 25px;
 	margin-top: -32px;
 }

 #events_text{
 	margin-top: 15px;
 	margin-left: -280px;

 }



